body {
  background-image: url("http://arafen.com/a/f/c/collection-pink-carpet-pictures-home-design-ideas-light-fluffy-now_carpet-tile-designs_latest-trends-in-kitchens-diy-headboard-wood-decoration-ideas-for-living-rooms-glamoro.jpg");
  margin: 0;
  font-family: "Helvetica";
}

#container {
  margin: 100px auto;
  max-width: 500px;
}

h1 {
  color: white;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size:90px;
  text-transform: uppercase;
  line-height: 2;
  padding: 40px;
}



.square {
  width: 30%;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 100%;
  transition: background 0.4s;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
}

#message {
  display: inline-block;
  width: 20%;
}

#stripe {
  height: 30px;
  text-align: center;
}

.selected {
  color: white;
  background-color: pink;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
   outline: none;
}

button:hover {
  color: white;
  background-color: red;
}