*{
	margin: 0 auto;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	background-image: url("http://content.rustinandmallory.netdna-cdn.com/u/751/ANTHRO-PLAYSUIT-BLUSH-20859D__78785_std.jpg");
}
h2{
	background: transparent;
	color: #e0f7fa;
	padding: 20px;
	margin: 30px;
	border: 3px solid #e0f7fa;
	border-radius: 40px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);

}

/* first */ 

.top-triangles2{
	display: flex;
}
.bottom-triangles2{
	display: flex;
}
.one2{
	width: 0;
	height: 0;
	border-right: 75px solid transparent;
	border-left: 75px solid transparent;
	border-bottom: 100px solid #dcedc2;
}
.two2{
	margin-right: 0%;
	position: relative;
	margin-left: -75px;
	width: 0;
	height: 0;
	border-right: 0px solid transparent;
	border-left: 75px solid transparent;
	border-top: 100px solid #ffd3b5;
	transition: 0.5s;
}
.two2:hover{
	margin-right: 20%;
}
.three2{
	margin-left: 0px;
	width: 0;
	height: 0;
	border-right: 75px solid transparent;
	border-left: 0px solid transparent;
	border-top: 100px solid #ffd3b5;
}
.four2{
	margin-left: -75px;
	width: 0;
	height: 0;
	border-right: 75px solid transparent;
	border-left: 75px solid transparent;
	border-bottom: 100px solid #ffaaa6;
}

.five2{
	margin-right: 0%;
	position: relative;
	margin-left: 0px;
	width: 0;
	height: 0;
	border-right: 0px solid transparent;
	border-left: 150px solid transparent;
	border-top: 150px solid #ff8c94;
	transition: 0.5s;
}
.five2:hover{
	margin-right: 20%;
}
.six2{
	margin-left: 0px;
	width: 0;
	height: 0;
	border-right: 150px solid transparent;
	border-left: 0px solid transparent;
	border-top: 150px solid #ff8c94;
}

/* second */

.top-triangles1{
	display: flex;
}

.bottom-triangle1{
	display: flex;
}
.one1{
	width 0;
	height: 0;
	border-right: 75px solid transparent;
	border-left: 75px solid transparent;
	border-bottom: 100px solid #f8b195;
	transition: all 0.3s ease;
}
.one1:hover{
	border-left: 90px solid transparent;

}


.two1{
	margin-left: -75px;
	width 0;
	height: 0;
	border-right: 75px solid transparent;
	border-left: 75px solid transparent;
	border-top: 100px solid #f67280;
	transition: all 0.3s ease;
}
/* .two1:hover{
	border-right: 90px solid transparent;
	border-left: 90px solid transparent;
} */
.three1{
	margin-left: -75px;
	width: 0;
	height: 0;
	border-right: 75px solid transparent;
	border-left: 75px solid transparent;
	border-bottom: 100px solid #c06c84;
	transition: all 0.3s ease;
}
.three1:hover{
	border-right: 90px solid transparent;
}
.four1{
	width: 0;
	height: 0;
	border-top: 150px solid #6c5b7b;
	border-right: 150px solid transparent;
	border-left: 150px solid transparent;
	transition: all 0.3s ease;
}
.four1:hover{
	border-top: 170px solid #6c5b7b;
}

/* third */


.top-triangles{
	display: flex;
}
.bottom-triangle{
	display: flex;
}
.one{
	width 0;
	height: 0;
	border-right: 75px solid transparent;
	border-left: 75px solid transparent;
	border-bottom: 100px solid;
	color: #e5fcc2;
	transition: color 0.5s;
}
.one:hover{
	color: #ffd3b5;
}

.two{
	margin-left: -75px;
	width 0;
	height: 0;
	border-right: 75px solid transparent;
	border-left: 75px solid transparent;
	border-top: 100px solid;
	color: #9de0ad;
	transition: color 0.5s;
}
.two:hover{
	color: #ffaaa6;
}

.three{
	margin-left: -75px;
	width: 0;
	height: 0;
	border-right: 75px solid transparent;
	border-left: 75px solid transparent;
	border-bottom: 100px solid;
	color: #45ada8;
	transition: color 0.5s;
}
.three:hover {
	color: #ff8c94;
}

.four{
	width: 0;
	height: 0;
	border-top: 150px solid;
	border-right: 150px solid transparent;
	border-left: 150px solid transparent;
	color: #547980;
	transition: color 0.5s;
}
.four:hover{
	color: #f67280;
}






